@use "./styles/colors.scss";
@use "./styles/mixins.scss";

html {
  height: 95vh;
  width: 95vw;
  background-color: colors.$background;
}

body {
  @include mixins.default-flex;

  height: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Symbola";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
